.body{
    font-family: Calibri !important;
    font-size: 1.2rem;
    direction: rtl;
}

.Main, .Order {
    direction: rtl;
}

.img {
    max-width: 50%;
    width: 14rem;
    box-shadow: 3px 3px 10px #ccc;
}

.Main p {
    max-width: 50%;
    text-align: right;
}

.Main .quote {
    font-size: .8rem !important;
    font-style: italic;
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.userTr {
    height:3rem;
}

thead {
    font-weight: bolder;
    background-color: #ccc;
}

button {
    font-family: Calibri !important;
    font-size: 2rem;
    padding: 16px 24px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #dd0;
    color: black;
    transition-duration: .2s;
}

button:hover {
    background-color: #ff6;
}

button:active {
    background-color: #aa0;
}

input[type=text] {
    width: 50%;
    font-size: 1rem;
    border-radius: 15px;
    padding: 10px 15px;
}

input[type=text]:focus {
    outline: none;
}